.container {
    background-color: #808080;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;


    .row {
        display: flex;
        justify-content: space-around;
    }

    .col, .col-6 {
        padding: 10px;
        background-color: #fff;
        border: 1px ridge #331671;

        &:not(:last-child) {
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            .col, .col-6 {
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
        }
    }
}
