.container {
    background-color: #808080;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;


    .row {
        display: flex;
        justify-content: space-around;
    }

    .col, .col-6{
        padding: 10px;
        background-color: #331671;
        border: 1px solid #ffffff;
        border-radius: 5px;
        margin-bottom: 10px;

        overflow-y: auto;
        max-height:300px;

        &:not(:last-child) {
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            .col, .col-6 {
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
        }
    }
}
