@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This page is intended for practice only. I will be adding numerous aspects as I go along and learn more.
        This Home Page will serve as a basis for updated information where I plan to detail every new aspect that
        gets added into this page of mine.
        <br />
        <br />
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-6">Updates</h1>
            <p>Here I intend to create a window that will scroll through updates</p>
        </div>
        <div class="col-6">
            <h1 class="display-6">News</h1>
            <p>Here live news updates from Souther California will be scrolled through and shown.
                with images and the links to them as well as a small excerpt of detail from that article
            </p>
        </div>
        <div class="col">
            <h1 class="display-6">Feedback</h1>
            <p> Here i will add a text feild to take feedback and store it somewhere most likely a backend
                implemented through MySQL and MySQL Workbench this is for admins to review and approve
                or deny them for display on the soon to come reviews page
            </p>
        </div>
    </div>
</div>

