@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<article>
    <h2>Effective Date: [July 24, 2024]</h2>
    <section>
        <h3>1. Introduction</h3>
        <p>Welcome to My First Website Solo Project! This privacy policy is designed to inform you about our management, collection, and use of information on this site. This site is intended for personal use and as a learning tool, and thus does not collect personal information from users.</p>
    </section>
    <section>
        <h3>2. Information Collection</h3>
        <p>For the purpose of this learning project, no personal information is collected from users.</p>
    </section>
    <section>
        <h3>3. Use of Information</h3>
        <p>Any information hypothetically collected would solely be for demonstrating data handling practices.</p>
    </section>
    <section>
        <h3>4. Sharing of Information</h3>
        <p>No personal information is shared with third parties, as no personal information is collected.</p>
    </section>
    <section>
        <h3>5. Security</h3>
        <p>Basic security measures are implemented to demonstrate the secure handling of data, despite no real personal data being processed.</p>
    </section>
    <section>
        <h3>6. Changes to This Privacy Policy</h3>
        <p>This privacy policy may be updated periodically to reflect changes in my learning and any new practices applied to the project.</p>
    </section>
    <section>
        <h3>7. Contact Information</h3>
        <p>Questions or comments about this policy can be directed to markusv.straus@gmail.com.</p>
    </section>
</article>
